doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Camp
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		link(rel='stylesheet', href='css/index.css')
	body
		div.container-grid
			div.navbartop nvtop
			.layout
				//- navbar
				div.navbar
					div.card
				main.grid.g3
					//- top grid 100%
					div.g2
						div.card.card-layout a
					div.g2
						div.card.card-layout a
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')


